.tropical-leaf-icon6,
.tropical-leaf-icon7 {
  position: absolute;
  top: 65px;
  left: 313.75px;
  width: 443px;
  height: 456px;
  object-fit: cover;
}
.tropical-leaf-icon7 {
  left: 676.75px;
  width: 594.16px;
  height: 522.37px;
}
.tropical-leaf-icon8,
.tropical-leaf-icon9 {
  position: absolute;
  top: 308px;
  left: 913.75px;
  width: 577px;
  height: 617.61px;
  object-fit: cover;
}
.tropical-leaf-icon9 {
  top: 287.9px;
  left: 50.75px;
  width: 575.93px;
  height: 623.32px;
}
.tropical-leaf-icon10,
.tropical-leaf-icon11 {
  position: absolute;
  top: 638.69px;
  left: 235.21px;
  width: 600.99px;
  height: 594.74px;
  object-fit: cover;
}
.tropical-leaf-icon11 {
  top: 710px;
  left: 729.75px;
  width: 469.08px;
  height: 481.29px;
}
.frame-child {
  position: absolute;
  top: 252px;
  left: 445.75px;
  border-radius: 50%;
  background-color: var(--color-seashell);
  width: 650px;
  height: 650px;
}
.tropical-leaf-parent {
  position: absolute;
  top: -65px;
  left: -50.75px;
  width: 1535.46px;
  height: 1233.43px;
}
.spacing22,
.spacing36px22 {
  position: absolute;
  width: 100%;
  top: 0;
}
.spacing22 {
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-seashell);
  overflow: hidden;
}
.spacing36px22 {
  height: 3.93%;
  right: -0.07%;
  bottom: 96.07%;
  left: 0.07%;
}
.b,
.button7 {
  position: absolute;
  height: 100%;
  top: 0;
}
.b {
  width: 4.26%;
  left: 0;
  display: inline-block;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 9.8%;
  left: 60.87%;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--font-noto-sans-tc);
  color: var(--color-gray);
  text-align: left;
}
.button7,
.button8,
.kr2 {
  display: inline-block;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 6%;
  top: 0;
  left: 77.89%;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--font-noto-sans-tc);
  color: var(--color-gray);
  text-align: left;
}
.kr2 {
  position: relative;
  text-decoration: underline;
  width: 49.81px;
  height: 42.64px;
  flex-shrink: 0;
}
.kr-container {
  position: absolute;
  top: 0;
  left: 1199px;
  width: 117px;
  height: 42.64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
}
.button9,
.group {
  position: absolute;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-gray);
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 9.65%;
  top: 0;
  left: 44%;
  font-weight: 700;
  font-family: var(--font-noto-sans-tc);
  display: inline-block;
}
.group {
  top: 27px;
  left: 70px;
  width: 1316px;
  height: 42.64px;
}
.p15 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.p16 {
  margin: 0;
}
.b1,
.b2,
.b3 {
  position: relative;
  display: inline-block;
  width: 535px;
  height: 126.66px;
  flex-shrink: 0;
}
.b2,
.b3 {
  width: 646px;
}
.b3 {
  font-size: var(--font-size-13xl);
  height: 38.88px;
}
.container {
  position: absolute;
  top: 1479px;
  left: 397px;
  width: 646px;
  height: 388.21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  font-size: var(--font-size-5xl);
}
.div32 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-noto-sans-sogdian);
  color: var(--color-seashell);
  text-align: center;
}
.frame-parent,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper {
  cursor: pointer;
  border: 3px solid var(--color-seashell);
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-11xl);
  justify-content: center;
}
.frame-parent {
  position: absolute;
  top: 2177px;
  left: 453px;
  width: 554px;
  height: 64px;
  justify-content: flex-start;
  gap: 200px;
}
.spacing36px23 {
  position: absolute;
  height: 3.93%;
  width: 100%;
  top: 96.07%;
  right: 0;
  bottom: 0;
  left: 0;
}
.desktop-39-child {
  position: absolute;
  height: 18.71%;
  width: 35.69%;
  top: 11.63%;
  right: 23.26%;
  bottom: 69.67%;
  left: 41.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-seashell);
  width: 150px;
  height: 150px;
}
.frame-inner {
  top: 15px;
  left: 15px;
  background-color: var(--color-steelblue);
  width: 120px;
  height: 120px;
}
.b4 {
  position: absolute;
  height: 26%;
  top: 36.67%;
  left: calc(50% - 34px);
  display: inline-block;
  width: 68px;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent1,
.frame-div {
  position: absolute;
  top: 1222px;
  left: 271px;
  width: 150px;
  height: 150px;
}
.ellipse-container,
.ellipse-parent1,
.frame-div {
  left: 521px;
}
.ellipse-parent1,
.frame-div {
  left: 771px;
}
.ellipse-parent1 {
  left: 1021px;
}
.desktop-39 {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 2443px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-seashell);
  font-family: var(--font-noto-sans-tc);
}
