.spacing36px9,
.spacing9 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.spacing9 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-steelblue);
  overflow: hidden;
}
.spacing36px9 {
  height: 9.38%;
  bottom: 90.63%;
}
.union-icon57,
.union-icon58 {
  position: relative;
  width: 68px;
  height: 37px;
}
.union-icon58 {
  width: 38px;
  height: 19px;
}
.desktop-76-child,
.desktop-76-child1,
.desktop-76-inner,
.desktop-76-item {
  position: absolute;
  height: 0.98%;
  width: 0.69%;
  top: 84.28%;
  right: 4.86%;
  bottom: 14.75%;
  left: 94.44%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.desktop-76-child1,
.desktop-76-inner,
.desktop-76-item {
  top: 94.04%;
  right: 20.56%;
  bottom: 4.98%;
  left: 78.75%;
}
.desktop-76-child1,
.desktop-76-inner {
  top: 80.18%;
  right: 10.56%;
  bottom: 18.85%;
  left: 88.75%;
}
.desktop-76-child1 {
  top: 25.98%;
  right: 15.28%;
  bottom: 73.05%;
  left: 84.03%;
}
.desktop-76-child2,
.desktop-76-child3,
.desktop-76-child4,
.desktop-76-child5,
.desktop-76-child6,
.desktop-76-child7 {
  position: absolute;
  height: 0.98%;
  width: 0.69%;
  top: 16.21%;
  right: 24.72%;
  bottom: 82.81%;
  left: 74.58%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.desktop-76-child3,
.desktop-76-child4,
.desktop-76-child5,
.desktop-76-child6,
.desktop-76-child7 {
  top: 28.03%;
  right: 40.97%;
  bottom: 71%;
  left: 58.33%;
}
.desktop-76-child4,
.desktop-76-child5,
.desktop-76-child6,
.desktop-76-child7 {
  top: 73.24%;
  right: 75%;
  bottom: 25.78%;
  left: 24.31%;
}
.desktop-76-child5,
.desktop-76-child6,
.desktop-76-child7 {
  top: 76.07%;
  right: 71.94%;
  bottom: 22.95%;
  left: 27.36%;
}
.desktop-76-child6,
.desktop-76-child7 {
  top: 77.05%;
  right: 56.81%;
  bottom: 21.97%;
  left: 42.5%;
}
.desktop-76-child7 {
  top: 63.38%;
  right: 88.13%;
  bottom: 35.64%;
  left: 11.18%;
}
.desktop-76-child10,
.desktop-76-child11,
.desktop-76-child12,
.desktop-76-child13,
.desktop-76-child8,
.desktop-76-child9 {
  position: absolute;
  height: 0.98%;
  width: 0.69%;
  top: 116.31%;
  right: 108.33%;
  bottom: -17.29%;
  left: -9.03%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.desktop-76-child10,
.desktop-76-child11,
.desktop-76-child12,
.desktop-76-child13,
.desktop-76-child9 {
  top: 91.31%;
  right: 12.92%;
  bottom: 7.71%;
  left: 86.39%;
}
.desktop-76-child10,
.desktop-76-child11,
.desktop-76-child12,
.desktop-76-child13 {
  top: 93.07%;
  right: 18.82%;
  bottom: 5.96%;
  left: 80.49%;
}
.desktop-76-child11,
.desktop-76-child12,
.desktop-76-child13 {
  top: 89.84%;
  right: 11.25%;
  bottom: 9.18%;
  left: 88.06%;
}
.desktop-76-child12,
.desktop-76-child13 {
  top: 90.33%;
  right: 25%;
  bottom: 8.69%;
  left: 74.31%;
}
.desktop-76-child13 {
  top: 76.56%;
  right: -0.76%;
  bottom: 22.46%;
  left: 100.07%;
}
.turtle-icon3 {
  position: absolute;
  height: 8.3%;
  width: 4.83%;
  top: 2.05%;
  right: 19.41%;
  bottom: 89.65%;
  left: 75.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.desktop-76-child14,
.desktop-76-child15 {
  position: absolute;
  height: 11.33%;
  border-radius: var(--br-xl);
  box-shadow: 0 4px 20px #d9d9d9;
}
.desktop-76-child14 {
  border: 3px solid var(--color-gainsboro);
  background-color: transparent;
  width: 64.65%;
  top: 61.91%;
  right: 17.71%;
  bottom: 26.76%;
  left: 17.64%;
  box-sizing: border-box;
}
.desktop-76-child15 {
  width: 76.88%;
  top: 35.84%;
  right: 11.6%;
  bottom: 52.83%;
  left: 11.53%;
  background-color: var(--color-gainsboro);
}
.q5 {
  position: absolute;
  height: 4.3%;
  width: 54.93%;
  top: 39.36%;
  left: 22.5%;
  display: inline-block;
}
.desktop-76-child16,
.desktop-76-child17 {
  position: absolute;
  height: 1.95%;
  width: 90.21%;
  top: 9.38%;
  right: 4.86%;
  bottom: 88.67%;
  left: 4.93%;
  border-radius: var(--br-3xs);
  background-color: var(--color);
}
.desktop-76-child17 {
  width: 75.17%;
  right: 19.9%;
  background-color: var(--color-deeppink);
}
.vector-icon2 {
  position: absolute;
  height: 3.91%;
  width: 2.78%;
  top: 4.69%;
  right: 92.29%;
  bottom: 91.41%;
  left: 4.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.union-icon63 {
  position: relative;
  width: 22.68px;
  height: 67.99px;
  opacity: 0.85;
}
.union-container,
.union-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.91%;
  width: 4.72%;
  top: 44.82%;
  right: 2.92%;
  bottom: 51.27%;
  left: 92.36%;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.union-parent1 {
  top: 38.18%;
  right: 87.57%;
  bottom: 57.91%;
  left: 7.71%;
  transform: rotate(90deg);
}
.desktop-76 {
  position: relative;
  background-color: var(--color-steelblue);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray);
  font-family: var(--font-carter-one);
}
