@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, input, textarea {
  margin: 0;
  line-height: normal;
  font-family: 'PyeongChang-Bold', sans-serif;
}

:root {
  --font-pyeongchang: 'PyeongChang-Bold', sans-serif;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;

  --font-size-xl: 1.25rem;

  /* Colors */
  --color-white: #fff;
  --color-steelblue-100: #014972;
  --color-steelblue-200: #004871;
  --color-black: #000;
  --color-gray-100: #1e1e1e;
  --color-gray: #181818;
  --color-gray-200: rgba(24, 24, 24, 0.5);
  --color-gray-300: rgba(24, 24, 24, 0.5);
  --color-steelblue-100: #014972;
  --color-steelblue: #004871;
  --color-seashell: #fff5f2;
  --color-gainsboro: #d9d9d9;
  --color-deeppink: #ff2e93;
  --color: #f6f6f6;
  --color-darkslategray: #004a33;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-11xl: 30px;
}
