@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tropical-leaf-icon {
  position: absolute;
  top: 0;
  left: 263px;
  width: 443px;
  height: 456px;
  object-fit: cover;
}
.tropical-leaf-icon1,
.tropical-leaf-icon2 {
  position: absolute;
  top: 0;
  left: 628px;
  width: 594.16px;
  height: 548.38px;
  object-fit: cover;
}
.tropical-leaf-icon2 {
  top: 243px;
  left: 863px;
  width: 577px;
  height: 617.61px;
}
.tropical-leaf-icon3,
.tropical-leaf-icon4 {
  position: absolute;
  top: 222.9px;
  left: 0;
  width: 575.93px;
  height: 623.32px;
  object-fit: cover;
}
.tropical-leaf-icon4 {
  top: 573.69px;
  left: 184.46px;
  width: 600.98px;
  height: 450.31px;
}
.ellipse-icon,
.tropical-leaf-icon5 {
  position: absolute;
  top: 596px;
  left: 661px;
  width: 469.08px;
  height: 428px;
  object-fit: cover;
}
.ellipse-icon {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 650px;
  height: 650px;
  cursor: pointer;
}
.ellipse-icon:hover {
  width: 650px;
}
.union-icon106 {
  position: relative;
  width: 269.62px;
  height: 449px;
}
.flock-of-fish {
  position: absolute;
  height: 70.15%;
  width: 64.77%;
  top: 14.92%;
  right: 0;
  bottom: 14.92%;
  left: 35.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 704px;
  height: 650px;
}
.group-child8 {
  position: absolute;
  height: 1.54%;
  width: 1.42%;
  top: 34%;
  right: 43.32%;
  bottom: 64.46%;
  left: 55.26%;
  border-radius: 50%;
  background: linear-gradient(
    143.13deg,
    rgba(255, 245, 242, 0.7),
    rgba(255, 245, 242, 0.2)
  );
  backdrop-filter: blur(20px);
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20,
.group-child9 {
  position: absolute;
  height: 1.54%;
  width: 1.42%;
  top: 52%;
  right: 56.96%;
  bottom: 46.46%;
  left: 41.62%;
  border-radius: 50%;
  background: linear-gradient(
    143.13deg,
    rgba(255, 245, 242, 0.7),
    rgba(255, 245, 242, 0.2)
  );
  backdrop-filter: blur(20px);
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 39.54%;
  right: 50.14%;
  bottom: 58.92%;
  left: 48.44%;
}
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 74.92%;
  right: 60.23%;
  bottom: 23.54%;
  left: 38.35%;
}
.group-child12,
.group-child13,
.group-child14,
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  height: 0.77%;
  width: 0.71%;
  top: 32.31%;
  right: 45.6%;
  bottom: 66.92%;
  left: 53.69%;
}
.group-child13,
.group-child14,
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 42.46%;
  right: 52.13%;
  bottom: 56.77%;
  left: 47.16%;
}
.group-child14,
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 72.92%;
  right: 55.54%;
  bottom: 26.31%;
  left: 43.75%;
}
.group-child15,
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 75.23%;
  right: 46.31%;
  bottom: 24%;
  left: 52.98%;
}
.group-child16,
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 34.31%;
  right: 54.26%;
  bottom: 64.92%;
  left: 45.03%;
}
.group-child17,
.group-child18,
.group-child19,
.group-child20 {
  top: 32.31%;
  right: 61.65%;
  bottom: 66.92%;
  left: 37.64%;
}
.group-child18,
.group-child19,
.group-child20 {
  top: 27.38%;
  right: 53.84%;
  bottom: 71.85%;
  left: 45.45%;
}
.group-child19,
.group-child20 {
  top: 45.85%;
  right: 60.94%;
  bottom: 53.38%;
  left: 38.35%;
}
.group-child20 {
  top: 51.54%;
  right: 56.25%;
  bottom: 47.69%;
  left: 43.04%;
}
.group-container {
  position: absolute;
  top: 187px;
  left: 395px;
  width: 704px;
  height: 650px;
  opacity: 0;
}
.group-container.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.spacing21,
.spacing36px21 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.spacing21 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-seashell);
  overflow: hidden;
}
.spacing36px21 {
  height: 9.38%;
  bottom: 90.63%;
}
.button4,
.div31 {
  position: absolute;
  height: 100%;
  top: 0;
}
.div31 {
  width: 4.26%;
  left: 0;
  display: inline-block;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 9.8%;
  left: 60.87%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-carter-one);
  color: var(--color-gray);
  text-align: left;
}
.button4,
.button5,
.en1,
.kr1 {
  display: inline-block;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 6%;
  top: 0;
  left: 77.89%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-carter-one);
  color: var(--color-gray);
  text-align: left;
}
.en1,
.kr1 {
  width: 42.57%;
  text-decoration: underline;
}
.kr1 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.en1 {
  left: 57.43%;
}
.button6,
.en1,
.kr-group {
  position: absolute;
  height: 100%;
  top: 0;
}
.kr-group {
  width: 8.89%;
  right: 0;
  bottom: 0;
  left: 91.11%;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 9.65%;
  left: 44%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-carter-one);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
}
.parent {
  position: absolute;
  height: 4.16%;
  width: 91.39%;
  top: 2.64%;
  right: 3.82%;
  bottom: 93.2%;
  left: 4.79%;
}
.desktop-70 {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-gray);
  font-family: var(--font-carter-one);
}
