*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --clr-primary: #1E6275;
    --clr-grad: #BAEFFF;
    --clr-dark: #464646;
    --clr-gray: #969696;
    --clr-light: #FFF;
    --clr-solid: #F8F9F9;
    --clr-cloud: rgba(30, 98, 117, 0.6);

    /* font weights */
    --fw-normal: 400;
    --fw-bold: 600;
    --fw-black: 900;
}

body {
    margin: 0;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark);
    line-height: 1.6;
}

header {
    position: relative;
    display: grid;
    grid-template-columns: 100px;
    height: 100px;

    background-color: var(--clr-light);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.logo {
    margin-left: 20%;
    width: 100px;
    grid-row: 1;
}

.nav {
    grid-row: 1;
    margin-top: 1em;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    float: left;

    margin: 0;
    padding: 1em;

    list-style: none;
    font-size: 0.9m; /* 14 / 16 */
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}

.nav__list-item {
    align-items: center;
    margin-right: 2em;
    margin-left: 3em;
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.user {
    position: relative;
    float: right;
    grid-row: 1;
    margin-right: 10%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.login {
    grid-row: 1;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;

    width: 150px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1.5px solid var(--clr-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
    cursor: pointer;
    &:hover {
        background: linear-gradient(135deg, var(--clr-primary), var(--clr-grad) 100%);
        color: var(--clr-light);
        border: none;
    }
}

.signup {
    grid-row: 1;
    margin-top: 5%;

    position: absolute;
    margin-left: 55%;

    width: 180px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(135deg, var(--clr-primary), var(--clr-grad) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    cursor: pointer;
    &:hover {
        border: 1.5px solid var(--clr-primary);
        background: var(--clr-light);
        color: var(--clr-primary);
    }
}

.user a {
    grid-row: 1;
}

.btn__login {
    text-decoration: none;
    color: var(--clr-primary);
}

.btn__signup {
    text-decoration: none;
    color: var(--clr-light);
}

.main {
    clear: both;
}

.main__file {
    float: right;
    margin-right: 5%;
    width: 40%;
}

.main__title {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.main__intro {
    display: flex;
    margin-left: 10%;
}

.start {
    width: 205px;
    height: 60px;
    margin-top: 2em;
    margin-left: 10%;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1.5px solid var(--clr-primary);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn btn--start {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    text-decoration: none;
    color: inherit;
}

.start a {
    align-items: center;
    color: var(--clr-primary);
    text-decoration: none;
}

.login__bg, .signup__bg {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__bg.show, .signup__bg.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

#login__popup {
    background: var(--clr-light);
    color: var(--clr-dark);

    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    box-sizing: border-box;
    border-radius: 15px;
    width: 580px;
    height: 650px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}

#loginForm, #signupForm {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__x{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.login__logo {
    clear: both;
    margin-top: 5%;
    width: 25%;
}

.login__title {
    margin: 0;
}

.signup__name {
    margin-top: 5%;
    width: 80%;
    height: 3em;
    flex-shrink: 0;

    border-radius: 200px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(30, 98, 117, 0.50);
}

.signup__name input {
    width: 80%;
    height: 100%;

    border:0 solid var(--clr-dark);
}

.login__email {
    margin-top: 5%;
    width: 80%;
    height: 3em;
    flex-shrink: 0;

    border-radius: 200px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(30, 98, 117, 0.50);
}

.login__email input {
    width: 80%;
    height: 100%;

    border:0 solid var(--clr-dark);
}

.login__password {
    margin-top: 5%;
    width: 80%;
    height: 3em;
    flex-shrink: 0;

    border-radius: 200px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(30, 98, 117, 0.50);
}

.login__password input {
    width: 80%;
    height: 100%;

    border:0 solid var(--clr-dark);
}

.login__submit input, .signup__submit input {
    margin-top: 15%;

    width: 200px;
    height: 45px;
    flex-shrink: 0;

    border-radius: 100px;
    background: linear-gradient(135deg, #1E6275 0%, #BAEFFF 100%);
    border:0 solid var(--clr-dark);

    color: var(--clr-light);
    &:hover {
        border: 1.5px solid var(--clr-primary);
        background: var(--clr-light);
        color: var(--clr-primary);
    }
}

.login__signup {
    position: absolute;
    margin-top: 5%;

    color: var(--clr-primary);

    left: 50%;
    transform: translate(-50%, 0%);


}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

input[type=text] {
    outline: none;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: medium;
    padding-left: 10px;
}

input[type=text]::placeholder {
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: medium;
}