.group-child,
.present-inner {
  position: absolute;
  width: 81.25rem;
  height: 42.06rem;
}
.group-child {
  top: 0;
  width: 100%;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 20px #fff5f2;
}
.present-inner {
  top: 18.88rem;
  left: 4.38rem;
}
.spacing1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue-200);
  overflow: hidden;
}
.union-icon {
  position: relative;
  width: 2.38rem;
  height: 1.19rem;
}
.ellipse-div,
.present-child,
.present-child1,
.present-child2,
.present-child3,
.present-item {
  position: absolute;
  height: 0.98%;
  width: 0.69%;
  top: 20.02%;
  right: 77.15%;
  bottom: 79%;
  left: 22.15%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.ellipse-div,
.present-child1,
.present-child2,
.present-child3,
.present-item {
  top: 19.14%;
  right: 62.64%;
  bottom: 79.88%;
  left: 36.67%;
}
.ellipse-div,
.present-child1,
.present-child2,
.present-child3 {
  top: 22.36%;
  right: 29.93%;
  bottom: 76.66%;
  left: 69.38%;
}
.present-child1,
.present-child2,
.present-child3 {
  top: 20.21%;
  right: 40.28%;
  bottom: 78.81%;
  left: 59.03%;
}
.present-child2,
.present-child3 {
  top: 13.77%;
  right: 86.74%;
  bottom: 85.25%;
  left: 12.57%;
}
.present-child3 {
  top: 23.54%;
  right: 92.08%;
  bottom: 75.49%;
  left: 7.22%;
}
.spacing2,
.spacing36px2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spacing2 {
  background-color: var(--color-steelblue-100);
  overflow: hidden;
}
.spacing36px2 {
  border: 3px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 44.79%;
  width: 8.89%;
  top: 28.13%;
  left: 55.21%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-pyeongchang);
  color: var(--color-seashell);
  text-align: left;
}
.button,
.button1,
.en,
.kr {
  position: absolute;
  display: inline-block;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 44.79%;
  width: 9.72%;
  top: 28.13%;
  left: 70.69%;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--font-pyeongchang);
  color: var(--color-seashell);
  text-align: left;
  text-shadow: 0 4px 20px #fff5f2;
}
.en,
.kr {
  height: 100%;
  width: 42.57%;
  top: 0;
  left: 0;
  text-decoration: underline;
}
.en {
  left: 57.43%;
}
.button2,
.kr-parent {
  position: absolute;
  top: 28.13%;
}
.kr-parent {
  height: 44.42%;
  width: 8.12%;
  right: 4.86%;
  bottom: 27.46%;
  left: 87.01%;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 44.79%;
  width: 1.94%;
  left: 46.67%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-pyeongchang);
  color: var(--color-seashell);
  text-align: left;
  display: inline-block;
}
.group-item {
  position: absolute;
  height: 3.13%;
  width: 8.89%;
  top: 70.96%;
  right: 20.42%;
  bottom: 25.92%;
  left: 70.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-inner,
.spacing36px-parent {
  position: absolute;
  height: 9.38%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 90.63%;
  left: 0;
}
.group-inner {
  height: 100%;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--color-seashell);
  box-shadow: 0 0 453.6px #d9d9d9, 0 0 259.2px #d9d9d9, 0 0 21.6px #d9d9d9;
}
.g12-icon {
  position: absolute;
  height: 40%;
  width: 61%;
  top: 31%;
  right: 19%;
  bottom: 29%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent {
  position: absolute;
  height: 9.77%;
  width: 6.94%;
  top: 16.31%;
  right: 46.88%;
  bottom: 73.93%;
  left: 46.18%;
}
.present-child4,
.present-child5,
.present-child6,
.rectangle-a {
  text-decoration: none;
  position: absolute;
  height: 27.34%;
  width: 25.21%;
  top: 34.18%;
  right: 55.76%;
  bottom: 38.48%;
  left: 19.03%;
  border-radius: var(--br-xl);
  background-image: url(./public/rectangle-2489@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.present-child4,
.present-child5,
.present-child6 {
  top: 63.77%;
  bottom: 8.89%;
}
.present-child5,
.present-child6 {
  right: 23.26%;
  left: 51.53%;
}
.present-child6 {
  top: 34.18%;
  right: 22.99%;
  bottom: 38.48%;
  left: 51.81%;
}
.button3,
.present {
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-seashell);
  font-family: var(--font-pyeongchang);
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.71%;
  width: 12.57%;
  top: 3.03%;
  left: 4.86%;
  font-weight: 700;
  display: inline-block;
}
.present {
  position: relative;
  background-color: var(--color-steelblue-200);
  width: 100%;
  height: 64rem;
  overflow: hidden;
}
