.spacing19,
.spacing36px19 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.spacing19 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-steelblue);
  overflow: hidden;
}
.spacing36px19 {
  height: 9.38%;
  bottom: 90.63%;
}
.union-icon105 {
  position: relative;
  width: 38px;
  height: 19px;
}
.desktop-71-child,
.desktop-71-child1,
.desktop-71-inner,
.desktop-71-item {
  position: absolute;
  height: 0.98%;
  width: 0.69%;
  top: 116.31%;
  right: 108.33%;
  bottom: -17.29%;
  left: -9.03%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.desktop-71-child1,
.desktop-71-inner,
.desktop-71-item {
  height: 0.49%;
  width: 0.35%;
  top: 18.36%;
  right: 82.71%;
  bottom: 81.15%;
  left: 16.94%;
}
.desktop-71-child1,
.desktop-71-inner {
  height: 0.98%;
  width: 0.69%;
  top: 17.38%;
  right: 83.61%;
  bottom: 81.64%;
  left: 15.69%;
}
.desktop-71-child1 {
  top: 76.56%;
  right: -0.76%;
  bottom: 22.46%;
  left: 100.07%;
}
.div23 {
  position: absolute;
  height: 5.47%;
  width: 38.19%;
  top: 9.38%;
  left: 18.06%;
  font-size: var(--font-size-17xl);
  color: var(--color-seashell);
  display: inline-block;
}
.turtle-icon8 {
  position: absolute;
  height: 22.18%;
  width: 16.32%;
  top: 1.66%;
  right: 81.94%;
  bottom: 76.16%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.union-child,
.union-item {
  position: absolute;
  height: 91.2%;
  width: 21.77%;
  top: 32.47%;
  right: 72.85%;
  bottom: -23.67%;
  left: 5.38%;
  background-color: var(--color-gainsboro);
}
.union-item {
  height: 100%;
  width: 84.77%;
  top: 23.67%;
  right: -5.38%;
  left: 20.62%;
}
.union1 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-seashell);
  backdrop-filter: blur(20px);
  border: 3px solid var(--color-seashell);
  box-sizing: border-box;
  width: 1300px;
  height: 752px;
}
.desktop-71-child2,
.desktop-71-child3,
.desktop-71-child4,
.desktop-71-child5,
.desktop-71-child6,
.desktop-71-child7 {
  position: absolute;
  height: 31.64%;
  width: 22.99%;
  top: 56.64%;
  right: 70.76%;
  bottom: 11.72%;
  left: 6.25%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px 10px #f5e2ce;
}
.desktop-71-child3,
.desktop-71-child4,
.desktop-71-child5,
.desktop-71-child6,
.desktop-71-child7 {
  height: 31.45%;
  width: 63.26%;
  right: 6.39%;
  bottom: 11.91%;
  left: 30.35%;
}
.desktop-71-child4,
.desktop-71-child5,
.desktop-71-child6,
.desktop-71-child7 {
  height: 24.9%;
  width: 14.38%;
  top: 27.83%;
  right: 54.38%;
  bottom: 47.27%;
  left: 31.25%;
}
.desktop-71-child5,
.desktop-71-child6,
.desktop-71-child7 {
  right: 38.82%;
  left: 46.81%;
}
.desktop-71-child6,
.desktop-71-child7 {
  top: 28.22%;
  right: 23.26%;
  bottom: 46.88%;
  left: 62.36%;
}
.desktop-71-child7 {
  top: 28.42%;
  right: 7.78%;
  bottom: 46.68%;
  left: 77.85%;
}
.div24 {
  position: absolute;
  height: 2.64%;
  width: 7.78%;
  top: 19.43%;
  left: 21.11%;
  display: inline-block;
}
.p13 {
  margin: 0;
}
.div25,
.div26 {
  position: absolute;
}
.div25 {
  height: 6.54%;
  width: 14.17%;
  top: 60.55%;
  left: 10.21%;
  display: inline-block;
}
.div26 {
  top: 698px;
  left: 140px;
  font-family: var(--font-inter);
  color: var(--color-black);
}
.div27,
.div28,
.div29,
.div30 {
  position: absolute;
  height: 3.32%;
  width: 25.69%;
  top: 38.09%;
  left: 30.35%;
  display: inline-block;
}
.div28,
.div29,
.div30 {
  width: 15.49%;
  top: 73.73%;
  left: 9.38%;
}
.div29,
.div30 {
  top: 39.26%;
  left: 62.71%;
}
.div30 {
  width: 27.71%;
  top: 39.06%;
  left: 78.75%;
}
.octopus-icon1,
.vector-icon7 {
  position: absolute;
  height: 5.47%;
  width: 5.07%;
  top: 9.38%;
  right: 4.86%;
  bottom: 85.16%;
  left: 90.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.octopus-icon1 {
  height: 19.63%;
  width: 23.68%;
  top: 30.86%;
  right: 70.21%;
  bottom: 49.51%;
  left: 6.11%;
  object-fit: cover;
}
.desktop-71 {
  position: relative;
  background-color: var(--color-steelblue);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-carter-one);
}
