.spacing1,
.spacing36px1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.spacing1 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-steelblue-200);
  overflow: hidden;
}
.spacing36px1 {
  height: 9.38%;
  bottom: 90.63%;
}
.union-icon {
  position: relative;
  width: 2.38rem;
  height: 1.19rem;
}
.desktop-90-child,
.desktop-90-inner,
.desktop-90-item {
  position: absolute;
  height: 0.98%;
  width: 0.69%;
  top: 116.31%;
  right: 108.33%;
  bottom: -17.29%;
  left: -9.03%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.desktop-90-inner,
.desktop-90-item {
  height: 0.49%;
  width: 0.35%;
  top: 17.58%;
  right: 82.15%;
  bottom: 81.93%;
  left: 17.5%;
}
.desktop-90-inner {
  height: 0.98%;
  width: 0.69%;
  top: 16.6%;
  right: 83.26%;
  bottom: 82.42%;
  left: 16.04%;
}
.b,
.ellipse-div {
  position: absolute;
}
.ellipse-div {
  height: 0.98%;
  width: 0.69%;
  top: 76.56%;
  right: -0.76%;
  bottom: 22.46%;
  left: 100.07%;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7c4d3, #7ca6e3);
}
.b {
  height: 5.47%;
  width: 38.19%;
  top: 9.38%;
  left: 4.86%;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-seashell);
  text-align: left;
}
.union-child,
.union-item {
  position: absolute;
  height: 91.2%;
  width: 21.77%;
  top: 32.47%;
  right: 72.85%;
  bottom: -23.67%;
  left: 5.38%;
  background-color: var(--color-gainsboro);
}
.union-item {
  height: 100%;
  width: 84.77%;
  top: 23.67%;
  right: -5.38%;
  left: 20.62%;
}
.union {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-seashell);
  backdrop-filter: blur(20px);
  border: 3px solid var(--color-seashell);
  box-sizing: border-box;
  width: 81.25rem;
  height: 47rem;
}
.desktop-90-child1,
.rectangle-textarea {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 62.11%;
  width: 22.99%;
  top: 25.98%;
  right: 69.93%;
  bottom: 11.91%;
  left: 7.08%;
  border-radius: var(--br-xl);
  box-shadow: 0 4px 20px 5px #b6cecc;
}
.desktop-90-child1 {
  height: 39.84%;
  width: 59.58%;
  top: 48.24%;
  right: 7.5%;
  left: 32.92%;
}
.desktop-90-child2,
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-silver-100);
  position: absolute;
  height: 6.45%;
  width: 37.29%;
  top: 17.38%;
  right: 44.1%;
  bottom: 76.17%;
  left: 18.61%;
  border-radius: var(--br-xl);
}
.desktop-90-child2 {
  background-color: var(--color-seashell);
  height: 5.02%;
  width: 18.65%;
  top: 18.07%;
  right: 44.55%;
  bottom: 76.92%;
  left: 36.81%;
}
.b1 {
  position: absolute;
  height: 3.13%;
  width: 8.89%;
  top: 19.04%;
  left: 23.96%;
  display: inline-block;
  color: var(--color-seashell);
  text-align: left;
}
.to-do-list {
  height: 4%;
  width: 18.06%;
  top: 31.84%;
  left: 9.58%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.b2,
.b3,
.to-do-list {
  position: absolute;
  display: inline-block;
}
.b2 {
  height: 4%;
  width: 18.06%;
  top: 53.13%;
  left: 33.96%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.b3 {
  height: 3.13%;
  width: 6.6%;
  top: 19.04%;
  left: 43.06%;
  text-align: left;
}
.disappointed-face-icon {
  position: absolute;
  top: 18.75rem;
  left: 55.06rem;
  width: 9.38rem;
  height: 9.56rem;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  top: 23.13rem;
  left: 64.81rem;
  border-radius: 2px;
  width: 6.16rem;
  height: 1.81rem;
}
.div {
  position: absolute;
  height: 2.54%;
  width: 17.22%;
  top: 40.63%;
  left: 11.67%;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.p {
  margin: 0;
}
.div1 {
  position: absolute;
  height: 7.52%;
  width: 17.22%;
  top: 45.61%;
  left: 12.08%;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 2.93%;
  width: 2.08%;
  top: 56.15%;
  right: 88.33%;
  bottom: 40.92%;
  left: 9.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3 {
  top: 40.43%;
  bottom: 56.64%;
}
.vector-icon3 {
  top: 46.09%;
  bottom: 50.98%;
}
.desktop-90 {
  position: relative;
  background-color: var(--color-steelblue-200);
  width: 100%;
  height: 64rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-pyeongchang);
}
