<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/category.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Carter One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre SemiBold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans TC:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Sogdian:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-78">
      <div class="spacing36px5">
        <div class="spacing5"></div>
      </div>
      <img class="union-icon33" alt="" src="../static/public/union3.svg" />

      <div class="desktop-78-child"></div>
      <div class="desktop-78-item"></div>
      <div class="spacing36px6">
        <div class="spacing6"></div>
      </div>
      <div class="div14">쫑긋</div>
      <button class="button2">분석 보관함</button>
      <button class="button3">선물 보따리</button>
      <div class="kr-parent">
        <div class="kr">KR</div>
        <div class="en">EN</div>
      </div>
      <div class="div15">홈</div>
      <img class="desktop-78-inner" alt="" src="../static/public/vector-336.svg" />

      <img class="group-icon" alt="" src="../static/public/group-3508.svg" />

      <img class="union-icon34" alt="" src="../static/public/union4.svg" />

      <img class="union-icon34" alt="" src="../static/public/union5.svg" />

      <img class="union-icon36" alt="" src="../static/public/union6.svg" />

      <img class="union-icon36" alt="" src="../static/public/union7.svg" />

      <img class="union-icon36" alt="" src="../static/public/union8.svg" />

      <img class="union-icon36" alt="" src="../static/public/union9.svg" />

      <img class="union-icon36" alt="" src="../static/public/union9.svg" />

      <img class="union-icon36" alt="" src="../static/public/union10.svg" />

      <img class="union-icon36" alt="" src="../static/public/union11.svg" />

      <div class="desktop-78-child1"></div>
      <div class="desktop-78-child2"></div>
      <div class="desktop-78-child3"></div>
      <div class="desktop-78-child4"></div>
      <div class="desktop-78-child5"></div>
      <div class="desktop-78-child6"></div>
      <div class="desktop-78-child7"></div>
      <div class="desktop-78-child8"></div>
      <div class="desktop-78-child9"></div>
      <div class="desktop-78-child10"></div>
      <div class="desktop-78-child11"></div>
      <div class="desktop-78-child12"></div>
      <div class="desktop-78-child13"></div>
      <div class="desktop-78-child14"></div>
      <div class="desktop-78-child15"></div>
      <div class="desktop-78-child16"></div>
      <div class="desktop-78-child17"></div>
      <div class="desktop-78-child18"></div>
      <div class="desktop-78-child19"></div>
      <div class="desktop-78-child20"></div>
      <div class="desktop-78-child21"></div>
      <div class="desktop-78-child22"></div>
      <div class="desktop-78-child23"></div>
      <div class="turtle-parent">
        <img class="turtle-icon1" alt="" src="../static/public/turtle1@2x.png" />

        <div class="div16">화연님의 고민 카테고리를 골라주세요!</div>
      </div>
      <button class="desktop-78-inner1">
        <button class="group-child2" id="rectangleButton"></button>
      </button>
      <button class="desktop-78-inner2">
        <button class="group-child2" id="rectangleButton1"></button>
      </button>
      <button class="desktop-78-inner3">
        <button class="group-child2" id="rectangleButton2"></button>
      </button>
      <img class="desktop-78-child24" alt="" src="../static/public/group-3501.svg" />

      <button class="rectangle-parent1">
        <button class="group-child5" id="rectangleButton3"></button>
        <div class="div17">건강</div>
      </button>
      <div class="div18">금전</div>
      <div class="div19">학업</div>
      <div class="div20">기타</div>
      <button class="rectangle-parent2">
        <button class="group-child2" id="rectangleButton4"></button>
        <div class="div17">진로</div>
      </button>
      <button class="rectangle-parent3">
        <button class="group-child2" id="rectangleButton5"></button>
        <div class="div22">인간관계</div>
      </button>
      <img class="union-icon43" alt="" src="../static/public/union12.svg" />

      <img class="union-icon44" alt="" src="../static/public/union13.svg" />

      <img class="union-icon45" alt="" src="../static/public/union14.svg" />

      <img class="union-icon46" alt="" src="../static/public/union15.svg" />
    </div>

    <script>
      var rectangleButton = document.getElementById("rectangleButton");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "Desktop72.html";
        });
      }
      
      var rectangleButton1 = document.getElementById("rectangleButton1");
      if (rectangleButton1) {
        rectangleButton1.addEventListener("click", function (e) {
          window.location.href = "Desktop72.html";
        });
      }
      
      var rectangleButton2 = document.getElementById("rectangleButton2");
      if (rectangleButton2) {
        rectangleButton2.addEventListener("click", function (e) {
          window.location.href = "Desktop72.html";
        });
      }
      
      var rectangleButton3 = document.getElementById("rectangleButton3");
      if (rectangleButton3) {
        rectangleButton3.addEventListener("click", function (e) {
          window.location.href = "Desktop72.html";
        });
      }
      
      var rectangleButton4 = document.getElementById("rectangleButton4");
      if (rectangleButton4) {
        rectangleButton4.addEventListener("click", function (e) {
          window.location.href = "Desktop72.html";
        });
      }
      
      var rectangleButton5 = document.getElementById("rectangleButton5");
      if (rectangleButton5) {
        rectangleButton5.addEventListener("click", function (e) {
          window.location.href = "Desktop72.html";
        });
      }
      </script>
  </body>
</html>
