<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/category.css" />
  </head>
  <body>
    <div class="desktop-78">
      <div class="spacing36px5">
        <div class="spacing5"></div>
      </div>
      <img class="union-icon33" alt="" src="public/union3.svg" />

      <div class="desktop-78-child"></div>
      <div class="desktop-78-item"></div>
      <div class="spacing36px6">
        <div class="spacing6"></div>
      </div>
      <div class="div14">문어할매상담소</div>
      <button class="button2">분석 보관함</button>
      <button class="button3">선물 보따리</button>
      <div class="kr-parent">
        <div class="kr">KR</div>
        <div class="en">EN</div>
      </div>
      <div class="div15">홈</div>
      <img class="desktop-78-inner" alt="" src="public/vector-336.svg" />

      <img class="group-icon" alt="" src="public/group-3508.svg" />

      <img class="union-icon34" alt="" src="public/union4.svg" />

      <img class="union-icon34" alt="" src="public/union5.svg" />

      <img class="union-icon36" alt="" src="public/union6.svg" />

      <img class="union-icon36" alt="" src="public/union7.svg" />

      <img class="union-icon36" alt="" src="public/union8.svg" />

      <img class="union-icon36" alt="" src="public/union9.svg" />

      <img class="union-icon36" alt="" src="public/union9.svg" />

      <img class="union-icon36" alt="" src="public/union10.svg" />

      <img class="union-icon36" alt="" src="public/union11.svg" />

      <div class="desktop-78-child1"></div>
      <div class="desktop-78-child2"></div>
      <div class="desktop-78-child3"></div>
      <div class="desktop-78-child4"></div>
      <div class="desktop-78-child5"></div>
      <div class="desktop-78-child6"></div>
      <div class="desktop-78-child7"></div>
      <div class="desktop-78-child8"></div>
      <div class="desktop-78-child9"></div>
      <div class="desktop-78-child10"></div>
      <div class="desktop-78-child11"></div>
      <div class="desktop-78-child12"></div>
      <div class="desktop-78-child13"></div>
      <div class="desktop-78-child14"></div>
      <div class="desktop-78-child15"></div>
      <div class="desktop-78-child16"></div>
      <div class="desktop-78-child17"></div>
      <div class="desktop-78-child18"></div>
      <div class="desktop-78-child19"></div>
      <div class="desktop-78-child20"></div>
      <div class="desktop-78-child21"></div>
      <div class="desktop-78-child22"></div>
      <div class="desktop-78-child23"></div>
      <div class="turtle-parent">
        <img class="turtle-icon1" alt="" src="public/turtle1@2x.png" />

        <div class="div16">화연님의 고민 카테고리를 골라주세요!</div>
      </div>
      <button class="desktop-78-inner0">
        <div class="group-child2"></div>
        <div class="div17">건강</div>
      </button>
      <button class="desktop-78-inner1">
        <div class="group-child2">  </div>
        <div class="div18">금전</div>
      </button>
      <button class="desktop-78-inner2">
        <div class="group-child2"></div>
        <div class="div19">학업</div>
      </button>
      <button class="desktop-78-inner3">
        <div class="group-child2"></div>
        <div class="div20">기타</div>
      </button>
      <button class="desktop-78-inner4">
        <div class="group-child2"></div>
        <div class="div21">진로</div>
      </button>
      <button class=" desktop-78-inner5">
        <div class="group-child2"></div>
        <div class="div22">인간관계</div>
      </button>

      <img class="desktop-78-child24" alt="" src="public/group-3501.svg" />
      <img class="union-icon43" alt="" src="public/union12.svg" />

      <img class="union-icon44" alt="" src="public/union13.svg" />

      <img class="union-icon45" alt="" src="public/union14.svg" />

      <img class="union-icon46" alt="" src="public/union15.svg" />
    </div>

    <script>
      var rectangleButton = document.getElementById("rectangleButton");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "/q1";
        });
      }
      
      var rectangleButton1 = document.getElementById("rectangleButton1");
      if (rectangleButton1) {
        rectangleButton1.addEventListener("click", function (e) {
          window.location.href = "/q1";
        });
      }
      
      var rectangleButton2 = document.getElementById("rectangleButton2");
      if (rectangleButton2) {
        rectangleButton2.addEventListener("click", function (e) {
          window.location.href = "/q1";
        });
      }
      
      var rectangleButton3 = document.getElementById("rectangleButton3");
      if (rectangleButton3) {
        rectangleButton3.addEventListener("click", function (e) {
          window.location.href = "/q1";
        });
      }
      
      var rectangleButton4 = document.getElementById("rectangleButton4");
      if (rectangleButton4) {
        rectangleButton4.addEventListener("click", function (e) {
          window.location.href = "/q1";
        });
      }
      
      var rectangleButton5 = document.getElementById("rectangleButton5");
      if (rectangleButton5) {
        rectangleButton5.addEventListener("click", function (e) {
          window.location.href = "/q1";
        });
      }
      </script>
  </body>
</html>
