<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/global.css" />
    <link rel="stylesheet" href="css/diairies.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PyeongChang:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre ExtraBold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Carter One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre SemiBold:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-82">
      <div class="spacing36px3">
        <div class="spacing3"></div>
      </div>
      <img class="union-icon1" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/union.svg" />

      <div class="desktop-82-child"></div>
      <div class="desktop-82-item"></div>
      <img class="subtract-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract.svg" />

      <img class="subtract-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract.svg" />

      <img class="subtract-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract.svg" />

      <img class="subtract-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract.svg" />

      <img class="subtract-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract.svg" />

      <img class="subtract-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract.svg" />

      <img class="subtract-icon6" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract1.svg" />

      <img class="subtract-icon7" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract2.svg" />

      <img class="subtract-icon6" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/subtract3.svg" />

      <img class="desktop-82-inner" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector-356.svg" />

      <img class="desktop-82-child1" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector-357.svg" />

      <img class="desktop-82-child2" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector-357.svg" />

      <img class="shell-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/shell@2x.png" />

      <img
        class="shell-with-pearl"
        alt=""
        src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/shell-with-pearl@2x.png"
      />

      <img class="shell-icon1" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/shell1@2x.png" />

      <img class="shell-icon2" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/shell2@2x.png" />

      <img class="shell-icon3" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/shell3@2x.png" />

      <div class="spacing36px4">
        <div class="spacing4"></div>
      </div>
      <button class="button">분석 보관함</button>
      <button class="button1">선물 보따리</button>
      <div class="kr-parent">
        <div class="kr">KR</div>
        <div class="en">EN</div>
      </div>
      <button class="button2">홈</button>
      <b class="b4">7/2</b>
      <b class="b5">7/5</b>
      <b class="b6">7/9</b>
      <b class="b7">7/13</b>
      <b class="b8">7/17</b>
      <div class="rectangle-div"></div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="div2">인간관계</div>
      </div>
      <div class="rectangle-group">
        <div class="group-item"></div>
        <div class="div2">건강</div>
      </div>
      <div class="rectangle-container">
        <div class="group-inner"></div>
        <div class="div2">진로</div>
      </div>
      <div class="group-div">
        <div class="group-child1"></div>
        <div class="div2">금전</div>
      </div>
      <div class="rectangle-parent1">
        <div class="group-child2"></div>
        <div class="div2">학업</div>
      </div>
      <div class="rectangle-parent2">
        <div class="group-child3"></div>
        <div class="div2">기타</div>
      </div>
      <img class="desktop-82-child3" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector-336.svg" />
    </div>
  </body>
</html>
