<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link rel="stylesheet" href="./css/global.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
</head>
<body>
<div class="desktop-70">
    <img
            class="tropical-leaf-icon"
            alt=""
            src="public/leaves.png"
    />

    <a href="/signup">
        <img class="key-button-icon" alt="" src="public/key_button.png">
    </a>



    <div class="group-container" data-animate-on-scroll>
        <a href="/signup">
            <button class="ellipse-parent" id="groupButton">
                <img
                        src="public/main_img.svg"
                        alt=""
                />
            </button>
        </a>
        <div class="group-child8"></div>
        <div class="group-child9"></div>
        <div class="group-child10"></div>
        <div class="group-child11"></div>
        <div class="group-child12"></div>
        <div class="group-child13"></div>
        <div class="group-child14"></div>
        <div class="group-child15"></div>
        <div class="group-child16"></div>
        <div class="group-child17"></div>
        <div class="group-child18"></div>
        <div class="group-child19"></div>
        <div class="group-child20"></div>
    </div>
    <div class="spacing36px21">
        <div class="spacing21"></div>
    </div>
    <div class="parent">
        <div class="div31">문어할매 상담소</div>
        <button class="button4">계정 만들기</button>
        <button class="button5">로그인</button>
        <div class="kr-group">
            <div class="kr1">KR</div>
            <div class="en1">EN</div>
        </div>
    </div>
</div>

</body>
</html>
