<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/present.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Carter One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Sogdian:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans TC:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre SemiBold:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-99">
      <div class="desktop-99-inner">
        <div class="rectangle-div"></div>
      </div>
      <div class="spacing36px-parent">
        <div class="spacing2"></div>
      </div>
      <img class="union-icon1" alt="" src="public/union3.svg" />

      <div class="desktop-99-child"></div>
      <div class="desktop-99-item"></div>
      <div class="desktop-99-child1"></div>
      <div class="desktop-99-child2"></div>
      <div class="desktop-99-child3"></div>
      <div class="desktop-99-child4"></div>
      <div class="spacing36px-parent">
        <div class="spacing36px3">
          <div class="spacing3"></div>
        </div>
        <div class="div1">분석 보관함</div>
        <b class="b">선물 보따리</b>
        <div class="kr-group">
          <div class="kr1">KR</div>
          <div class="en1">EN</div>
        </div>
        <div class="div2">홈</div>
        <img class="vector-icon" alt="" src="public/vector-336.svg" />
      </div>
      <img class="group-icon" alt="" src="public/group-3528.svg" />

      <b class="b1">문어할매 상담소</b>
    </div>
    <script src="js/present.js"></script>
  </body>
</html>
