<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/Q1.css" />
  </head>
  <body>
    <div class="desktop-72">
      <div class="spacing36px17">
        <div class="spacing17"></div>
      </div>
      <div class="spacing36px17">
        <div class="spacing17"></div>
      </div>
      <img class="union-icon97" alt="" src="../static/public/union2.svg" />

      <img class="union-icon98" alt="" src="../static/public/union3.svg" />

      <img class="union-icon98" alt="" src="../static/public/union3.svg" />

      <img class="union-icon98" alt="" src="../static/public/union3.svg" />

      <img class="union-icon98" alt="" src="../static/public/union3.svg" />

      <img class="union-icon98" alt="" src="../static/public/union3.svg" />

      <div class="desktop-72-child"></div>
      <div class="desktop-72-item"></div>
      <div class="desktop-72-inner"></div>
      <div class="desktop-72-child1"></div>
      <div class="desktop-72-child2"></div>
      <div class="desktop-72-child3"></div>
      <div class="desktop-72-child4"></div>
      <div class="desktop-72-child5"></div>
      <div class="desktop-72-child6"></div>
      <div class="desktop-72-child7"></div>
      <div class="desktop-72-child8"></div>
      <div class="desktop-72-child9"></div>
      <div class="desktop-72-child10"></div>
      <div class="desktop-72-child11"></div>
      <div class="desktop-72-child12"></div>
      <div class="desktop-72-child13"></div>
      <img class="turtle-icon7" alt="" src="../static/public/turtle2@2x.png" />

      </textarea>
      <div class="desktop-72-child15"></div>
      <div class="q1">
        Q1: 어떤 고민을 가지고 있는지 설명해주실 수 있을까요?
      </div>
      <div class="desktop-72-child16"></div>
      <div class="desktop-72-child17"></div>
      <img class="vector-icon6" alt="" src="../static/public/vector.svg" />

      <form id="q1Form" method="POST">
        <textarea class="answer1" placeholder="직접 입력" required name="answer1"></textarea>

      <button type="submit" class="union-parent8" id="groupButton">
        <img class="union-icon103" alt="" src="../static/public/union20.svg" />
        <img class="union-icon103" alt="" src="../static/public/union21.svg" />
      </button>
      </form>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      var answer1 = document.getElementsByClassName("answer1")[0];
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
        localStorage.setItem('answer1', answer1.value);
        window.location.href = "Q2.html";
      });
    }
    </script>
  </body>
</html>
