<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/Q2.css" />
  </head>
  <body>
    <div class="desktop-73">
      <div class="spacing36px15">
        <div class="spacing15"></div>
      </div>
      <div class="spacing36px15">
        <div class="spacing15"></div>
      </div>
      <img class="union-icon87" alt="" src="public/union2.svg" />

      <img class="union-icon88" alt="" src="public/union3.svg" />

      <img class="union-icon88" alt="" src="public/union3.svg" />

      <img class="union-icon88" alt="" src="public/union3.svg" />

      <img class="union-icon88" alt="" src="public/union3.svg" />

      <img class="union-icon88" alt="" src="public/union3.svg" />

      <div class="desktop-73-child"></div>
      <div class="desktop-73-item"></div>
      <div class="desktop-73-inner"></div>
      <div class="desktop-73-child1"></div>
      <div class="desktop-73-child2"></div>
      <div class="desktop-73-child3"></div>
      <div class="desktop-73-child4"></div>
      <div class="desktop-73-child5"></div>
      <div class="desktop-73-child6"></div>
      <div class="desktop-73-child7"></div>
      <div class="desktop-73-child8"></div>
      <div class="desktop-73-child9"></div>
      <div class="desktop-73-child10"></div>
      <div class="desktop-73-child11"></div>
      <div class="desktop-73-child12"></div>
      <div class="desktop-73-child13"></div>
      <img class="turtle-icon6" alt="" src="public/turtle2@2x.png" />

      </textarea>
      <div class="desktop-73-child15"></div>
      <div class="desktop-73-child16"></div>
      <div class="desktop-73-child17"></div>
      <div class="q2">Q2: 그 일이 있었을 때 어떤 기분이 들었나요?</div>
      <img class="vector-icon5" alt="" src="public/vector.svg" />

      <button class="union-parent7" id="groupButton1">
        <img class="union-icon93" alt="" src="public/union18.svg" />

        <img class="union-icon93" alt="" src="public/union19.svg" />
      </button>

      <form id="q2Form">
        <textarea class="answer2" placeholder="직접 입력" required name="answer2"></textarea>

        <button class="union-parent6" id="groupButton">
          <img class="union-icon93" alt="" src="public/union16.svg" />
          <img class="union-icon93" alt="" src="public/union17.svg" />
        </button>
      </form>
    </div>

    <script>
      var groupButton1 = document.getElementById("groupButton1");
        if (groupButton1) {
          groupButton1.addEventListener("click", function (e) {
            window.location.href = "\q1";
        });
      }

      var groupButton = document.getElementById("groupButton");
      var answer2 = document.getElementsByClassName("answer2")[0];
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
        localStorage.setItem('answer2', answer2.value);
        window.location.href = "/q3";
      });
    }


      </script>
  </body>
</html>
