<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/Q3.css" />
  </head>
  <body>
    <div class="desktop-74">
      <div class="spacing36px13">
        <div class="spacing13"></div>
      </div>
      <div class="spacing36px13">
        <div class="spacing13"></div>
      </div>
      <img class="union-icon77" alt="" src="../static/public/union2.svg" />

      <img class="union-icon78" alt="" src="../static/public/union3.svg" />

      <img class="union-icon78" alt="" src="../static/public/union3.svg" />

      <img class="union-icon78" alt="" src="../static/public/union3.svg" />

      <img class="union-icon78" alt="" src="../static/public/union3.svg" />

      <img class="union-icon78" alt="" src="../static/public/union3.svg" />

      <div class="desktop-74-child"></div>
      <div class="desktop-74-item"></div>
      <div class="desktop-74-inner"></div>
      <div class="desktop-74-child1"></div>
      <div class="desktop-74-child2"></div>
      <div class="desktop-74-child3"></div>
      <div class="desktop-74-child4"></div>
      <div class="desktop-74-child5"></div>
      <div class="desktop-74-child6"></div>
      <div class="desktop-74-child7"></div>
      <div class="desktop-74-child8"></div>
      <div class="desktop-74-child9"></div>
      <div class="desktop-74-child10"></div>
      <div class="desktop-74-child11"></div>
      <div class="desktop-74-child12"></div>
      <div class="desktop-74-child13"></div>
      <img class="turtle-icon5" alt="" src="../static/public/turtle2@2x.png" />

      <textarea
        class="answer3"
        placeholder="직접 입력"
        required
        name="answer3"
      >
      </textarea>
      <div class="desktop-74-child15"></div>
      <div class="q3">Q3: (상대방이 있는 문제라면) 상대는 이 문제에 대해 어떻게 말할까요?</div>
      <div class="desktop-74-child16"></div>
      <div class="desktop-74-child17"></div>
      <img class="vector-icon4" alt="" src="../static/public/vector.svg" />

      <button class="union-parent4" id="groupButton">
        <img class="union-icon83" alt="" src="../static/public/union16.svg" />

        <img class="union-icon83" alt="" src="../static/public/union17.svg" />
      </button>
      <button class="union-parent5" id="groupButton1">
        <img class="union-icon83" alt="" src="../static/public/union18.svg" />

        <img class="union-icon83" alt="" src="../static/public/union19.svg" />
      </button>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton1");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "Q2.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "Q4.html";
        });
      }
      </script>
  </body>
</html>
