<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/Q6.css" />
  </head>
  <body>
    <div class="desktop-77">
      <div class="spacing36px7">
        <div class="spacing7"></div>
      </div>
      <div class="spacing36px7">
        <div class="spacing7"></div>
      </div>
      <img class="union-icon47" alt="" src="public/union2.svg" />

      <img class="union-icon48" alt="" src="public/union3.svg" />

      <img class="union-icon48" alt="" src="public/union3.svg" />

      <img class="union-icon48" alt="" src="public/union3.svg" />

      <img class="union-icon48" alt="" src="public/union3.svg" />

      <img class="union-icon48" alt="" src="public/union3.svg" />

      <div class="desktop-77-child"></div>
      <div class="desktop-77-item"></div>
      <div class="desktop-77-inner"></div>
      <div class="desktop-77-child1"></div>
      <div class="desktop-77-child2"></div>
      <div class="desktop-77-child3"></div>
      <div class="desktop-77-child4"></div>
      <div class="desktop-77-child5"></div>
      <div class="desktop-77-child6"></div>
      <div class="desktop-77-child7"></div>
      <div class="desktop-77-child8"></div>
      <div class="desktop-77-child9"></div>
      <div class="desktop-77-child10"></div>
      <div class="desktop-77-child11"></div>
      <div class="desktop-77-child12"></div>
      <div class="desktop-77-child13"></div>
      <img class="turtle-icon2" alt="" src="public/turtle2@2x.png" />

      <div class="desktop-77-child14"></div>
      <div class="q6">
        Q6: 문제 해결을 위해 지금 시도할 수 있는 가장 작은 변화는 무엇일까요?
      </div>
      <div class="desktop-77-child15"></div>
      <div class="desktop-77-child16"></div>
      <img class="vector-icon1" alt="" src="public/vector.svg" />

      <button class="union-group" id="groupButton1">
        <img class="union-icon53" alt="" src="public/union18.svg" />
        <img class="union-icon53" alt="" src="public/union19.svg" />
      </button>

      <form id="q6Form">
        <textarea class="answer6" placeholder="직접 입력" required name="answer6"></textarea>

        <button type="submit" class="union-parent" id="groupButton">
          <img class="union-icon53" alt="" src="public/union16.svg" />
          <img class="union-icon53" alt="" src="public/union17.svg" />
        </button>
      </form>
    </div>

    <script>
        var groupButton1 = document.getElementById("groupButton1");

        document.getElementById("q6Form").addEventListener("submit", function (e) {
        e.preventDefault();
        });

        if (groupButton1) {
          groupButton1.addEventListener("click", function (e) {
            window.location.href = "\q5";
        });
    </script>
    <script src="./js/answer.js"></script>
  </body>
</html>
