<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/global.css" />
    <link rel="stylesheet" href="../static/css/todolist.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PyeongChang:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre ExtraBold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Carter One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre SemiBold:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-90">
      <div class="spacing36px1">
        <div class="spacing1"></div>
      </div>
      <div class="spacing36px1">
        <div class="spacing1"></div>
      </div>
      <img class="union-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/union.svg" />

      <div class="desktop-90-child"></div>
      <div class="desktop-90-item"></div>
      <div class="desktop-90-inner"></div>
      <div class="ellipse-div"></div>
      <b class="b">화연님의 분석 결과는 다음과 같아요!</b>
      <div class="union">
        <div class="union-child"></div>
        <div class="union-item"></div>
      </div>
      <textarea class="rectangle-textarea"> </textarea>
      <textarea class="desktop-90-child1"> </textarea>
      <button class="rectangle-button"></button>
      <button class="desktop-90-child2"></button>
      <b class="b1">분석 보관함</b>
      <b class="to-do-list">To-do-list</b>
      <b class="b2">느낀점/교훈</b>
      <b class="b3">성장 기록</b>
      <img
        class="disappointed-face-icon"
        alt=""
        src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/disappointed-face@2x.png"
      />

      <img class="vector-icon" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector-359.svg" />

      <div class="div">향후 3년 로드맵 그려보기</div>
      <div class="div1">
        <p class="p">창업 동아리 유니스 부원으로</p>
        <p class="p">실전 창업 경험, 창업 해커톤 참가하기</p>
      </div>
      <img class="vector-icon1" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector.svg" />

      <img class="vector-icon2" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector1.svg" />

      <img class="vector-icon3" alt="" src="../../../../../OneDrive%20-%20이화여자대학교/Downloads/unis-hackerthon/public/vector1.svg" />
    </div>
  </body>
</html>
